// colours

// primary

$strongblue: hsl(172, 67%, 45%);

// neutrals

$darkblue : hsl(183, 100%, 15%);
$darkgreyblue : hsl(186, 14%, 43%);
$greyblue : hsl(184, 14%, 56%);
$lightgreyblue: hsl(185, 41%, 84%);
$verylightgreyblue: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

// font

$body: 'Crimson Pro', serif;
// font-family: 'Open Sans', sans-serif;
